<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lv.wanandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 友盟权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name=".app.WanApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <!--        在 9.0 上面闪退的问题-->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!-- autosize 屏幕适配 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />
        <!-- autosize 屏幕适配结束 -->

        <!-- region 适配全面屏 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <!-- 刘海屏适配 -->
        <!--
            由于目前市面上刘海屏各家一套，没有按照Android P官方进行适配，所以暂时不做刘海屏适配处理。
            大部分厂家都已经对没有适配刘海屏的应用有自己的一套处理逻辑，我们的应用基本可以在大部分刘海屏手机上正常显示！
        -->
        <!-- 华为刘海区域展示 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!-- 小米刘海区域展示 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <!-- 友盟Key ，value的值填写你在友盟后台申请的应用Appkey -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5e8586b7dbc2ec080a6d1291" />

        <activity
            android:name=".main.MainActivity"
            android:hardwareAccelerated="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".web.WebX5Activity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".web.AgentWebActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true" />
        <activity android:name=".list.ListActivity" />
        <activity android:name=".module.search.SearchActivity" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity android:name=".nav.login.LoginActivity" />
        <activity android:name=".nav.login.RegisterActivity" />

    </application>

</manifest>